body{
    background-color: white;
}
#feature{
    background: linear-gradient(0deg, rgba(0,121,230,1) 0%, rgba(0,250,255,1) 90%);
}
.backtop{
    position: fixed;
    bottom: 50px;
    left: 1500px;
}
.new_product{
    position: absolute;
    top: 20px;
    right: 20px;
}
/*Switch*/

